<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="4" name="Chrome Test">
    <parameter name="browser" value="Chrome"></parameter>
  <classes>
  <class name="crossBrowserTesting.CrossBrowserTest"/>
  </classes>
  </test> <!-- Test -->
  
  <test thread-count="4" name="Fairfox Test">
  <parameter name="browser" value="Fairfox"></parameter>
    <classes>
      <class name="crossBrowserTesting.CrossBrowserTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="4" name="Internet Explorer">
  <parameter name="browser" value="Internet Explorer"></parameter>
     <classes>
      <class name="crossBrowserTesting.CrossBrowserTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="4" name="Test">
  <parameter name="browser" value="Edge"></parameter>
    <classes>
      <class name="crossBrowserTesting.CrossBrowserTest"/>
    </classes>
  </test> <!-- Test -->
  
  </suite> <!-- Suite -->